# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Python VENV
/Venv
/venv
#Models
*.pt

#User files
/uploads
/results

#Environnment variables
.env
/google_cloud_utils/credentials.json
/google_cloud_utils/engaged-parsec-412509-1b67878dff2e.json
*.pyc
/.pytest_cache/
/.ruff_cache/
.vscode/settings.json
/.env

# Uvicorn
nohup.out