{% extends "layout.html" %}

{% block content %}
<body class="bg-gray-100">
<div class="container mx-auto py-8 px-4">
    <h2 class="text-2xl font-bold mb-4">Factor Level</h2>
    <div class="bg-white shadow rounded-lg p-6">
        <h3 class="text-lg font-semibold mb-2">Current factor level</h3>
        <canvas id="factorLevelDoughnutChart"></canvas>
    </div>
    <br>
    <div id="factorLevelChart" class="space-y-4 shadow rounded bg-white"></div>
    <br>
    <div class="space-y-4">
        <div class="bg-white shadow rounded-lg p-6">
            <h3 class="text-lg font-semibold mb-2">Context</h3>
            <p class="text-gray-700 mb-3">
                After an infusion, SJ's peak Factor VIII levels reach up to 60%.
                <br>
                This maximum level is observed immediately post-infusion and is essential for understanding the efficacy
                of the treatment.
                <br>
                After 30 hours another blood test was made at which point the Factor VIII level was at 15%.
                <br>
                As observed, due to the halving property of the Factor VIII protein, the level decreases significantly.
                <br>
                These data points help illustrate the trajectory of Factor VIII degradation over time.
            </p>
        </div>
    </div>
    <br>
    <div class="bg-white shadow rounded-lg p-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="space-y-4">
                <h3 class="text-lg font-semibold mb-2">User Data</h3>
                <div class="p-4 shadow rounded bg-white">
                    <label for="initial_percentage" class="block text-sm font-medium text-gray-700">Peak Factor Level
                        After Infusion (%)</label>
                    <input type="number" id="initial_percentage" name="initial_percentage"
                           class="bg-blue-100 text-blue-800 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded inline-flex items-center">
                    <br>
                    <small class="text-gray-600">Enter the highest percentage of Factor level achieved immediately
                        following the infusion.</small>
                </div>
                <div class="p-4 shadow rounded bg-white">
                    <label for="decay_time" class="block text-sm font-medium text-gray-700">Time Elapsed Until Factor
                        Level Measurement (hours)</label>
                    <input type="number" id="decay_time" name="decay_time"
                           class="bg-blue-100 text-blue-800 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded inline-flex items-center">
                    <br>
                    <small class="text-gray-600">Specify the number of hours from infusion to when the blood sample was
                        collected.</small>
                </div>
                <div class="p-4 shadow rounded bg-white">
                    <label for="decay_rate" class="block text-sm font-medium text-gray-700">Factor Level at Time of
                        Measurement (%)</label>
                    <input type="number" id="decay_rate" name="decay_rate"
                           class="bg-blue-100 text-blue-800 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded inline-flex items-center">
                    <br>
                    <small class="text-gray-600">Input the percentage of Factor level recorded at the specified time
                        post-infusion.</small>
                </div>

            </div>
            <div class="space-y-4">
                <h3 class="text-lg font-semibold mb-2">Weekly Schedule</h3>
                <div class="p-4 shadow rounded bg-white">
                    <label for="current_level" class="block text-sm font-medium text-gray-700">Scheduled Weekly Infusion
                        Times</label>
                    <div id="datesBackground"
                         class="mt-1 block w-full rounded-md px-4 py-2 text-left text-gray-700 bg-gray-200 hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 text-xs">
                        <div id="selectedDates" class="flex flex-wrap space-x-2"></div>
                    </div>
                    <small class="text-gray-600">Past or future infusion events</small>
                </div>
                <br>

                <div class="p-4 shadow rounded bg-white">
                    <label for="datetimepicker" class="block text-sm font-medium text-gray-700">Add Infusions
                        Event</label>
                    <button id="datetimePicker"
                            class="bg-blue-100 text-blue-800 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded inline-flex items-center">
                        New event
                    </button>
                    <br>
                    <small class="text-gray-600">Select a date and time for a new infusion event and add to the
                        list.</small>
                    <br>
                    <button id="addDateTime" onclick="addDateTime()"
                            class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 mt-2 rounded shadow hidden">Add
                        Time
                    </button>
                </div>
            </div>
        </div>
        <button id="updateButton" class="bg-red-500 hover:bg-blue-600 text-white px-4 py-2 rounded shadow mt-4">Update
            Plot
        </button>
    </div>
</div>
</body>
<script src="/static/js/plot_functions.js"></script>
<script src="/static/js/date_selection.js"></script>
<script src="/static/js/app.js"></script>
{% endblock %}