{% extends "layout.html" %}

{% block content %}
<div class="container mx-auto py-8 px-4">
    <div id="noMeasurementsMessage" class="hidden bg-red-100 text-red-700 p-4 rounded mb-4">
        No measurements found. Please add a measurement to enable predictions and display plots.
    </div>
    <div id="logout" class="hidden bg-red-100 text-red-700 p-4 rounded mb-4">
        <button id="logoutButton" class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded shadow"
                onclick="logout()">Logout
        </button>
    </div>

    <h2 class="text-2xl font-bold mb-4">User Information</h2>
    <div class="bg-white shadow rounded-lg p-6">
        <div class="p-3 shadow rounded bg-white">
            <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
            <input type="text" id="username" name="username"
                   class="bg-blue-100 text-gray-500 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded"
                   value="{{ user.username }}" readonly>
        </div>
        <div class="p-4 shadow rounded bg-white">
            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
            <input type="text" id="email" name="email"
                   class="bg-blue-100 text-gray-500 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded"
                   value="{{ user.email }}" readonly>
        </div>
        <div class="p-4 shadow rounded bg-white">
            <label for="first_name" class="block text-sm font-medium text-gray-700">First Name</label>
            <input type="text" id="first_name" name="first_name"
                   class="bg-blue-100 text-gray-500 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded"
                   value="{{ user.first_name }}" readonly>
        </div>
        <div class="p-4 shadow rounded bg-white">
            <label for="last_name" class="block text-sm font-medium text-gray-700">Last Name</label>
            <input type="text" id="last_name" name="last_name"
                   class="bg-blue-100 text-gray-500 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded"
                   value="{{ user.last_name }}" readonly>
        </div>
        <div class="p-4 shadow rounded bg-white">
            <label for="peak_level" class="block text-sm font-medium text-gray-700">Peak Factor Level After Infusion
                (%)</label>
            <input type="number" id="peak_level" name="peak_level"
                   class="bg-blue-100 text-gray-500 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded"
                   value="{{ user.peak_level }}" readonly>
        </div>
        <div class="p-4 shadow rounded bg-white">
            <label for="datetimePickerSignup" class="block text-sm font-medium text-gray-700">Scheduled Weekly Infusion
                Times</label>
            <div id="datesBackgroundSignup"
                 class="mt-1 block w-full rounded-md px-4 py-2 text-left text-gray-700 bg-gray-200 hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 text-xs">
                <div id="selectedDates" class="flex flex-wrap space-x-2"></div>
            </div>
            <br>
            <small class="text-gray-600">Weekly infusion events.</small>
        </div>
        <br>
        <div class="p-4 shadow rounded bg-white hidden" id="add_event">
            <input type="datetime-local" id="datetimePicker" name="measurement_date"
                   class="bg-blue-100 text-blue-800 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded">
            <br>
            <small class="text-gray-600">Select a date and time for a new infusion event and add to the list.</small>
            <br>
            <button id="addDateTime" type="button" onclick="dateSelection.addDateTime()"
                    class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 mt-2 rounded shadow">Add Time
            </button>
        </div>
        <div class="flex justify-between mt-4">
            <button id="editButton" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded shadow">Edit
            </button>
            <button id="saveButton" class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded shadow hidden"
                    onclick="saveUserData()">Save changes
            </button>
            <button id="cancelButton" class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded shadow hidden"
                    onclick="cancelChanges()">Cancel
            </button>
            <button id="deleteButton" class="bg-red-700 hover:bg-red-800 text-white px-4 py-2 rounded shadow hidden"
                    onclick="deleteUser()">Delete User
            </button>
        </div>
    </div>
</div>

<br>

<div class="container mx-auto py-8 px-4">
    <div class="bg-white shadow rounded-lg p-6">
        <h3 class="text-lg font-semibold mb-2">Current factor level</h3>
        <canvas id="factorLevelDoughnutChart"></canvas>
    </div>
</div>

<br>
<div class="container mx-auto py-8 px-4">
    <div class="bg-white shadow rounded-lg p-6">
        <h3 class="text-lg font-semibold mb-2">Week overview</h3>
        <canvas id="factorLevelCurveChart"> class="chart-size"</canvas>
    </div>
</div>
<br>

<div class="container mx-auto py-8 px-4">
    <div class="bg-white shadow rounded-lg p-6">
        <h3 class="text-lg font-semibold mb-2">Measurements overview</h3>
        <small>The number of measurements increase the precision of the factor prediction.</small>
        <div class="bg-white shadow rounded-lg p-6">
            <label for="mean_halving_time" class="block text-sm font-medium text-gray-700 flex items-center">
                <strong>Factor halving time for all measurements (hours): <span id="mean_halving_time"
                                                                                class="block text-sm font-medium text-gray-700 inline-flex items-center"></span></strong>
            </label>
        </div>
        <br>
        <div id="measurementsList"></div>
    </div>
</div>

<br>

<div class="container mx-auto py-8 px-4">
    <div class="bg-white shadow rounded-lg p-6">
        <h3 class="text-lg font-semibold mb-2">Add Measurement</h3>
        <form id="measurementForm" onsubmit="submitMeasurementForm(event)">
            <div class="p-4 shadow rounded bg-white">
                <label for="measurement_peak_level" class="block text-sm font-medium text-gray-700">Peak Factor Level
                    After Infusion (%)</label>
                <input type="number" id="measurement_peak_level" name="measurement_peak_level" step="0.01"
                       class="bg-blue-100 text-blue-800 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded">
            </div>
            <div class="p-4 shadow rounded bg-white">
                <label for="measurement_time_elapsed" class="block text-sm font-medium text-gray-700">Time Elapsed Until
                    Factor Level Measurement (hours)</label>
                <input type="number" id="measurement_time_elapsed" name="measurement_time_elapsed" step="0.01"
                       class="bg-blue-100 text-blue-800 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded">
            </div>
            <div class="p-4 shadow rounded bg-white">
                <label for="measurement_second_level_measurement" class="block text-sm font-medium text-gray-700">Factor
                    Level at Time of Measurement (%)</label>
                <input type="number" id="measurement_second_level_measurement"
                       name="measurement_second_level_measurement" step="0.01"
                       class="bg-blue-100 text-blue-800 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded">
            </div>
            <div class="p-4 shadow rounded bg-white">
                <label for="measurement_comment" class="block text-sm font-medium text-gray-700">Comment</label>
                <textarea id="measurement_comment" name="measurement_comment"
                          class="bg-blue-100 text-blue-800 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded"></textarea>
            </div>
        </form>
        <button id="addMeasurementBtn" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 mt-2 rounded">Add
            Measurement
        </button>
    </div>
</div>

<br>
<script src="/static/js/halving_time.js"></script>
<script src="/static/js/sort_dates.js"></script>
<script src="/static/js/plot_functions.js"></script>
<script src="/static/js/user_measurements.js"></script>
<script src="/static/js/user_plots.js"></script>
<script src="/static/js/edit_user_data.js"></script>
<script src="/static/js/delete_user.js"></script>
<script src="/static/js/date_selection.js"></script>
{% endblock %}
